body {
  background-image: url('./edited1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 60rem;
}
.landingBackground {
  background-image: url('./edited.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 55rem;
}

h1,
label,
h2,
h3,
span {
  font-family: 'Special Elite', cursive;
  color: #006400;
}
ul {
  list-style-type: none;
}
.orange {
  color: #e4572e;
}
.bg-orange {
  background-color: #e4572e;
}

.bg-green {
  background-color: #17bebb;
}
.custom-font {
  font-family: 'Arvo', serif;
}

.symptomList {
  list-style-type: circle;
}
.reportButton {
  background-color: #ff4500;
  color: #fff;
  border: 0.0625rem solid;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem rgba(88, 88, 88, 0.4);
}

.aboutUsLink {
  font-weight: bolder;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  font-family: 'Special Elite', cursive;
  color: #006400;
}

.takingAvtionDev {
  background-color: rgba(255, 255, 255, 0.8);
  width: max-content;
  margin: auto;
}

.viewReportButton {
  background-color: #ff4500;
  font-family: 'Special Elite', cursive;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem rgba(88, 88, 88, 0.2);
}

.viewReportButton a {
  padding: 0.5rem;
  border: 0.0625rem solid;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem rgba(88, 88, 88, 0.2);
}

.container {
  display: block;
  position: relative;
  padding-left: 3.75rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
  font-size: 1.375rem;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5625rem;
  width: 1.5625rem;
  background-color: #eee;
  border-radius: 50%;
  border: 0.0625rem solid #ff4500;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #ff4500;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 0.6875rem;
  top: 0.3125rem;
  width: 0.3125rem;
  height: 0.625rem;
  border: solid white;
  border-width: 0 0.1875rem 0.1875rem 0;
  transform: rotate(45deg);
}

.dropzone {
  aria-disabled: "false";
  width: 10rem;
  height: 10rem;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
  margin: auto;

}

@media screen and (max-width: 600px) {
  body {
    background-image: url('./edited1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 55rem;
  }
  .landingBackground {
    background-image: url('./edited.jpg');
    height: 50rem;
  }
}

@media screen and (max-width: 375px) {
  .super-small {
    margin-left: 0;
  }
}

@media screen and (min-height: 812px) {
  .super-long {
    padding-top: 4.5rem;
  }
}
