body {
  background-color: #17bebb;
}
h1,
label {
  font-family: 'Arvo', serif;
}
ul {
  list-style-type: none;
}
.orange {
  color: #e4572e;
}
.bg-orange {
  background-color: #e4572e;
}

.bg-green {
  background-color: #17bebb;
}
.custom-font {
  font-family: 'Arvo', serif;
}
