body {
  background-color: #17bebb;
}
h1,
label {
  font-family: 'Arvo', serif;
}
ul {
  list-style-type: none;
}
.orange {
  color: #e4572e;
}
.bg-orange {
  background-color: #e4572e;
}

.bg-green {
  background-color: #17bebb;
}
.custom-font {
  font-family: 'Arvo', serif;
}

.symptomList {
  list-style-type: circle;
}

@media screen and (max-width: 375px) {
  .super-small {
    margin-left: 0;
  }
}

@media screen and (min-height: 812px) {
  .super-long {
    padding-top: 4.5rem;
  }
}
